# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.xls
*.xlsx

# Model files
*.h5
*.hdf5
*.pkl
*.joblib
*.sav

# Logs and outputs
*.log
*.out

# Mac system files
.DS_Store

# Matplotlib figures
*.png